# Скопируй этот файл в .env и заполни свои значения

# Токен бота из @BotFather
BOT_TOKEN=8528675481:AAHjD744jy_l9WOFKeBMbcqytpeomxXrqZ8

# ID Google таблицы (из ссылки /d/ЭТОТ_КУСОК/edit)
SPREADSHEET_ID=1RA12Gx0d7Bq7wnzZ_WOHZj-W1RFrLymMgxv9CDWX3s0

# ID Telegram-группы куда приходят анкеты
GROUP_CHAT_ID=-1003862168820   #-1001918799252

# Путь к файлу сервисного аккаунта Google
CREDENTIALS_FILE=credentials.json
